@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
    --primary-color: #6c5ce7;
    --secondary-color: #00cec9;
    --dark-color: #0f0e17;
    --light-color: #fffffe;
    --accent-color: #ff8906;
    --text-color: #a7a9be;
    --text-dark: #2d3436;
    --bg-dark: #0f0e17;
    --bg-light: #fffffe;
    --overlay-color: rgba(15, 14, 23, 0.8);
    --transition: all 0.3s ease;
    --border-radius: 8px;
    --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    --section-padding: 100px 0;
}

a {
    color: #fff;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--bg-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-dark);
    color: #333;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
}

/* main content */
section.experience {
    position: relative;
}
.timeline {
    position: relative;
    max-width: 800px;
    margin: 50px auto 0 auto;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 2px;
    background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    padding: 20px 0;
    position: relative;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    left: 0;
    padding-right: 50px;
    text-align: right;
}

.timeline-item:nth-child(even) {
    left: 50%;
    padding-left: 50px;
    text-align: left;
}

.timeline-date {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 600;
}

.timeline-content {
    background-color: #110f1e;
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    position: relative;
}

.timeline-content::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: 30px;
}

.timeline-item:nth-child(odd) .timeline-content::before {
    right: -60px;
}

.timeline-item:nth-child(even) .timeline-content::before {
    left: -60px;
}

.timeline-content h3 {
    margin-bottom: 5px;
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
}

.timeline-content h4 {
    color: var(--secondary-color);
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: 'Audiowide';
}

.timeline-content p {
    color: var(--text-color);
    font-size: 0.9rem;
    line-height: 1.6;
    font-family: 'Exo 2', sans-serif;
}