@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
    --primary-color: #6c5ce7;
    --secondary-color: #00cec9;
    --dark-color: #0f0e17;
    --light-color: #fffffe;
    --accent-color: #ff8906;
    --text-color: #a7a9be;
    --text-dark: #2d3436;
    --bg-dark: #0f0e17;
    --bg-light: #fffffe;
    --bg-card: #110f1e;
    --overlay-color: rgba(15, 14, 23, 0.8);
    --transition: all 0.3s ease;
    --border-radius: 8px;
    --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    --section-padding: 100px 0;
}

a {
    color: #fff;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--bg-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-dark);
    color: #333;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
}

/* main content */
section.projects {
    padding: 100px 2rem 0 2rem;
}

section.projects .btn__group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

section.projects .btn__group .btn {
    border-radius: 1000px;
}

.filter-controls .btn.active {
    background-color: var(--primary-color);
    color: #fff;
}

.projects__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 50px;
    perspective: 1000px;
}

.project__card {
    border-radius: 10px;
    background-color: var(--bg-card);
    width: 90%;
    margin: 0 auto !important;
    transform-style: preserve-3d;
}

.project__card .image__project {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.project__card .image__project img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card__content {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform-style: preserve-3d;
}

.title__card-project {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-family: 'Orbitron';
}

.card__content p {
    color: var(--text-color);
    font-family: "Exo 2";
}

.card__content .btn__group {
    margin-top: 0 !important;
    justify-content: start !important;
    transform-style: preserve-3d !important;
}

.btn__link-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    background-color: #5728bc;
    color: #fff;
}

/* card hover */
.project__card:hover .image__project {
    transform: translateZ(40px);
}

.project__card:hover .title__card-project {
    transform: translateZ(30px);
}

.project__card:hover .card__content-desc {
    transform: translateZ(20px);
}

.project__card:hover .btn__link-card {
    transform: translateZ(10px);
}